In [13]:
import pandas as pd
import os

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [12]:
base_dir = "data/scraped/parsed/"
race_dir = f'{base_dir}round/'
split_dir = f'{base_dir}split/'

In [ ]:
for round_file in os.listdir(race_dir):
    # load in base round data
    round_df = pd.read_csv(os.path.join(race_dir, round_file))
    
    # enhance round data with information in filename
    round_metadata = round_file.split('-')
    season = f'{round_metadata[0]}-{round_metadata[1]}'
    competition = round_metadata[2]
    
    
    # load in relevant split data files
    
    # enhance split files with information in filename

In [7]:
race = pd.read_csv("data/scraped/parsed/round/2019-2020-ISUWorldJuniorShortTrackChampionships2020-Bormio(ITA)-500m-m-Heats.csv")
splits = pd.read_csv("data/scraped/parsed/split/2019-2020-ISUWorldJuniorShortTrackChampionships2020-Bormio(ITA)-500m-m-Heats-race_1-splits.csv")

In [8]:
race.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   race        34 non-null     int64
 1   Place       34 non-null     object
 2   Start Pos.  34 non-null     int64
 3   Warn.       0 non-null      float64
 4   #           34 non-null     int64
 5   Name        34 non-null     object
 6   ISU ID      34 non-null     int64
 7   ISU Member  34 non-null     object
 8   Results     34 non-null     object
 9   Qual.       20 non-null     object
dtypes: float64(1), int64(4), object(5)
memory usage: 2.8+ KB

In [11]:
splits.head(100)

,ZHANG Tianyi POSITION,ZHANG Tianyi LAP TIME,ZHANG Tianyi ELAPSED TIME,IVLIEV Konstantin POSITION,IVLIEV Konstantin LAP TIME,IVLIEV Konstantin ELAPSED TIME,Jens van 'T WOUT POSITION,Jens van 'T WOUT LAP TIME,Jens van 'T WOUT ELAPSED TIME,MIYATA Shogo POSITION,MIYATA Shogo LAP TIME,MIYATA Shogo ELAPSED TIME,Luca SPECHENHAUSER POSITION,Luca SPECHENHAUSER LAP TIME,Luca SPECHENHAUSER ELAPSED TIME
0,2,6.92,6.92,1,6.68,NaN,3,7.02,7.02,4,7.16,7.16,5,7.34,7.34
1,2,8.69,15.61,1,8.74,NaN,3,8.67,15.69,4,8.86,16.02,5,8.80,16.14
2,2,8.40,24.01,1,8.44,NaN,3,8.37,24.06,5,8.54,24.56,4,8.32,24.46
3,1,8.45,32.46,3,8.70,NaN,2,8.48,32.54,5,8.68,33.24,4,8.43,32.89
4,1,8.84,41.30,2,8.97,NaN,5,24.97,57.51,4,8.79,42.03,3,8.69,41.58

In [9]:
race.head(100)

,race,Place,Start Pos.,Warn.,#,Name,ISU ID,ISU Member,Results,Qual.
0,0,1,1,NaN,105,ZHANGTianyi,9713,CHN,41.303,Q
1,0,2,5,NaN,135,LucaSPECHENHAUSER,9398,ITA,41.585,Q
2,0,3,4,NaN,140,MIYATAShogo,9460,JPN,42.034,q
3,0,4,3,NaN,161,Jensvan'TWOUT,9551,NED,57.510,ADV
4,0,YC,2,NaN,169,IVLIEVKonstantin,9417,RUS,YC,NaN
5,1,1,2,NaN,168,BALBEKOVVladimir,9738,RUS,40.938,Q
6,1,2,1,NaN,104,SUNLong,9454,CHN,40.966,Q
7,1,3,3,NaN,160,NielsKINGMA,9552,NED,41.103,q
8,1,4,4,NaN,118,JUNGYanghunBen,9602,GER,42.315,NaN
9,1,5,5,NaN,175,DJORDJEVICJovan,9295,SRB,43.684,NaN
10,2,1,1,NaN,151,LEEJeongmin,9733,KOR,41.356,Q
11,2,2,2,NaN,190,JonathanSO,9442,USA,41.491,Q
12,2,3,3,NaN,133,NADALINIThomas,9726,ITA,42.442,q
13,2,PEN,4,NaN,116,ROSS-WADDELLKyle,9526,GBR,PEN,NaN
14,3,1,1,NaN,150,KIMTaeSung,9540,KOR,41.191,Q
15,3,2,4,NaN,147,DinmukhammedZHOLDAS,9536,KAZ,42.518,Q
16,3,3,3,NaN,113,GabrielVOLET,9519,FRA,42.616,NaN
17,3,4,5,NaN,127,SZASZAttila,9723,HUN,42.760,NaN
18,3,5,2,NaN,152,ReinisBERZINS,9267,LAT,notime,NaN
19,4,1,1,NaN,148,AHNHyunJun,9541,KOR,41.923,Q
20,4,2,3,NaN,171,DaniilKRASNOKUTSKII,9558,RUS,42.068,Q
21,4,3,5,NaN,179,FurkanAKAR,9434,TUR,42.165,q
22,4,4,4,NaN,128,TALABOSAttila,9243,HUN,42.412,NaN
23,4,5,2,NaN,132,LucaLIM,9145,USA,notime,NaN
24,5,1,1,NaN,102,LIKongchao,9516,CHN,41.352,Q
25,5,2,3,NaN,137,HAYASHIIbuki,9403,JPN,42.304,Q
26,5,3,5,NaN,165,MateuszKRZEMINSKI,9412,POL,42.778,NaN
27,5,4,2,NaN,110,SELLIERDiane,9237,FRA,42.935,ADV
28,5,PEN,4,NaN,95,LubomirKALCHEV,9507,BUL,PEN,NaN
29,6,1,2,NaN,153,KRUZBERGSRoberts,9117,LAT,41.831,Q
30,6,2,3,NaN,126,NOGRADIBence,9722,HUN,42.647,Q
31,6,3,1,NaN,189,BrandonKIM,9303,USA,43.119,NaN
32,6,4,4,NaN,163,JulianMACARAEG,9462,PHI,57.975,NaN
33,6,PEN,5,NaN,173,TrevorXuXuanTAN,9420,SGP,PEN,NaN